body{
	margin: 0;
	padding: 0;
	height: 100vh;
}
#particles-js
{
	height: 100%;
	background: #000;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))/*,url(img3.jpg)*/;
	background-size: cover;
	background-position: center;
	background-color: #000;
}
.main-title{
			position: absolute;
			margin: 0;
			padding: 0;
			color: #f9f1e9;
			text-align: center;
			left: 50%;
			margin-top: 330px;
			-webkit-transform: translate3d(-50%,-50%,0);
			transform: translate(-50%,-50%,0);

		}
body{
	text-align: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}	
h1{
	color: #fff;
	font-size: 60px;
	margin-bottom: 30px;
	font-family: 'Roboto Mono', monospace;
}	
h2{
	font-size: 40px;
	margin-bottom: 10px;
}
a{
	text-decoration: none;
	color: white;
}
i{
	font-size: 50px;
	margin: 15px 20px;
}
i:hover{
	font-size: 60px;
	margin: 5px 15px;
}
.icons{
	margin-top: 15px;
}

.profile{
	height: 240px;
	width: 240px;
	border-radius: 200px;
	margin-bottom: 5px;
}

.container {
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #00ffff;
  font-family: 'Teko', sans-serif;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/*@media(max-width: 800px)
{

h1{
	margin-top: 20px;
	font-size: 40px;
	margin-bottom: 22px;
}	
i{
	font-size: 35px;
	margin: 10px 13px;
}
i:hover{
	font-size: 45px;
	margin: 5px 8px;
}
body{
	height: 100vh;
}
.container p {
  font-size: 2.5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.profile{
	height: 210px;
	width: 210px;
	border-radius: 200px;
	margin-bottom: 5px;
}*/
/*.main-title{
	position: absolute;
			margin: 0;
			padding: 0;
			color: #f9f1e9;
			text-align: center;
			left: 50%;
			margin-top: 530px;
			-webkit-transform: translate3d(-50%,-50%,0);
			transform: translate(-50%,-50%,0);
}*/
/*}*/